{% extends "base.html" %}
{% block title %} VRK - Kauppa {% endblock %}
{% block content %}
<title>VRK - Kauppa</title>

<style>
    @media (min-width: 1000px){
    .container{
        max-width: 1600px ;
        margin:auto;
      
      
    }
  }
    @media (max-width: 1200px){
      .container{
          max-width: 100% ;
          padding:0 24px;
      }
  
    }
  
    @media (min-width: 768px) and (max-width:1024px) {
    
      .col-md-3{
  
        min-width: 50%;
  
    }
    }
  
  
    .container{
   
      margin: 5rem auto auto auto;
  
    }
      .card {
        margin-top: 0;
        max-width: 90%;
     
        display: flex;
        flex-direction: column;
       padding:0;
        height: 100%;
     
      }
   
  
      img.img-fluid {
        height: 200px;
        width: 250px;
        margin: 1.4rem auto auto auto;
      }
  
  
    
      a.btn {
      margin: 0 0 0px 0 !important;
  
           height: auto;
     
      color: black;
     
    
      }
    
      .default-img{
        padding:0;
       
      }
   
    </style>
  
  


  <!--Main layout-->

    <div style= 'background:  #e5e5e7;' class="container mynav">

 
      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% for product in products %}
              <!--Grid column-->
              <div class="col-lg-3 col-md-6 mb-4">

                <!--Card-->
                <div class="card">

                  <!--Card image-->
                  <div class="view overlay">
                
                    {% if product.prod_image %}
                    <img class="img-fluid" alt="Responsive image" src="{{product.prod_image.url}}" class="card-img-top"alt="{{ image.image.alt_text }}">
                 
                  {% else %}
                  <img class="default-img" src="media/products/images/default.png" class="card-img-top" alt="">>
                  {% endif %}
                 
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                  <!--Card image-->

                  <!--Card content-->
                  <div class="card-body text-center">
                  
                    <h5>
                      <strong>
                        <a href="{{ product.get_absolute_url }}" class="dark-grey-text">{{ product.name|slice:":50" }}...</a>
                        <br>
                        <p style='font-weight: 200; font-size:15px'>  {{ product.description|slice:":50" }}...  </p>
                        <p>
                            
                          {% if product.discount_percent > 0 %}
                            <span style='color:green' class="badge green">SALE</span>
                          {% endif %}
                          {% if product.PRDISNew  %}
                            <span style='color:blue'class="badge blue">NEW</span>
                          {% endif %}
                          {% if product.PRDISBestSeller  %}
                          <span style='color:#c76112;'class="badge red">Best Seller</span>
                          {% endif %}
                        </p>

                      </strong>
                    </h5>

                 
                   
                    <p class="lead">
                      {% if product.discount_percent > 0 %}
                      <span  style='color:#c76112;font-weight: bold;' >{{product.cost}}€ </span> 
                      <span style='padding-left: 10px;'class="mr-1">
                        <del>{{product.regular_price}}€</del>
                      </span>
                      <br>
                      {% if product.discount_percent > 0 %}
                      <span style='    border-radius: 20px;
                      background-color: #c76112;
                      border: 1px solid #c76112;
                      color: #fff;
                      font-weight: 600;
                      vertical-align: -webkit-baseline-middle;
                      margin-right: 0;
                      font-size: 15px;
                      line-height: 15px;
                      margin-bottom: 9px;
                      display: inline-block;
                      padding: 0.3em 1em;
                      font-family: Arial;' class="label label-discount "> - {{product.discount_percent}}%</span>
                      {% endif %}
                      {% else %}
                        <span>{{product.regular_price}} €</span>
                      {% endif %}
        
                    </p>
                  </div>
                  <!--Card content-->

                </div>
                <!--Card-->

              </div>
              <!--Grid column-->
            {% endfor %}
        </div>
        <!--Grid row-->
      </section>
      <!--Section: Products v.3-->


      
      {% if products.has_other_pages %}
      <!--Pagination-->
      <nav style='background: transparent;'class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">
  
          {% if products.has_previous %}
          <!--Arrow left-->
          <li class="page-item ">
            <a class="page-link" href="?page={{products.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled"></li>
          {% endif %}
  
          {% for pages in products.paginator.page_range %}
          {% if products.number == pages %}
          <li class="page-item ">
            <a style='  font-size: 30px;' class="page-link" href="#">{{pages}}</a>
          </li>
          {% else %}
          <li class="page-item"><a style='  font-size: 20px;' class="page-link current"
              href="?page={{pages}}">{{pages}}</a></li>
          {% endif %}
          {% endfor %}
  
          {% if products.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{products.next_page_number}}" aria-label="Next">
              <span style='  font-size: 35px;' aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled"></li>
          {% endif %}
        </ul>
      </nav>
      <!--Pagination-->
      {% endif %}
    
  
      
  </div> 

  
  
  
  
  
  
  
  
  
  
  
  
  
  
{% endblock %}