



<style>

    .page-footer {
        background-color: #cccbf1;
    
        bottom: 0;
        clear: both;
            position: relative;
        margin: -20rem 0 0 0;   
            top:18rem;

          }
    
       
      .pb-4 a{
        font-size:30px;
        width:36px;
        height:36px;
       padding-left: 2rem;
       color: white;
      
      
      }
      .footer-copyright{
        font-size:20px;
      }
      
      
      @media screen and (max-width: 800px) { 
        .page-footer{
        
           
           justify-content: center;
           padding: 3px 10px;
              
     margin-left: 0.3rem;
    }
    }
    @media (min-width: 768px) and (max-width:1024px) {
        
      .page-footer{
       max-width: 90%;
      }
    }
    
    </style>
    <div class="footer"></div>
     <!--Footer-->
     <footer style='margin:0 auto; 
     text-align: center;   ' class="page-footer text-center font-small mt-4 wow fadeIn">
    
    
    
    
         <!--/.Call to action-->
    
         <hr class="my-4">
    
         <!-- Social icons -->
         <div class="pb-4 ">
         <a style='size:2rem;'href="https://www.facebook.com/" target="_blank">
           <i class="fab fa-facebook-f mr-3"></i>
         </a>
    
         <a  href="https://twitter.com/" target="_blank">
           <i class="fab fa-twitter mr-3"></i>
         </a>
    
         <a href="https://www.youtube.com/" target="_blank">
           <i class="fab fa-youtube mr-3"></i>
         </a>
    
         <a href="https://plus.google.com/" target="_blank">
           <i class="fab fa-google-plus-g mr-3"></i>
         </a>
    
         <a href="https://dribbble.com/" target="_blank">
           <i class="fab fa-dribbble mr-3"></i>
         </a>
    
         <a href="https://pinterest.com/" target="_blank">
           <i class="fab fa-pinterest mr-3"></i>
         </a>
    
         <a href="https://github.com/" target="_blank">
           <i class="fab fa-github mr-3"></i>
         </a>
    
         <a href="http://codepen.io/" target="_blank">
           <i class="fab fa-codepen mr-3"></i>
         </a>
       </div>
       <!-- Social icons -->
    
       <!--Copyright-->
       <div class="footer-copyright py-3">
         © 2021 Copyright:
         <a href="#" target="_blank"> VRK - Kauppa</a>
       </div>
       <!--/.Copyright-->
    
     </footer>
     <!--/.Footer-->
    
    </div>
    
    
    </footer>